li{
	font-size: 20px;
}

#drop1{
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	margin-bottom: 40px;
	background-color: #fff;
}

#drop2{
	width: 200px;
	height: 200px;
	border: 1px solid red;
	background-color: #fff;
}

#el1{
	width: 115px;
	height: 65px;
	border: 1px solid #000;
	color: red;
	font-size: 15px;
}

#el2{
	width: 115px;
	height: 65px;
	border: 1px solid #000;
	font-size: 15px;
	margin-bottom: 20px;	
}

#el3{
	width: 115px;
	height: 65px;
	border: 1px solid #000;
	font-size: 15px;
	margin-bottom: 20px;
}